player-connection-mode=Listen
player-connection-guid=2458450614
player-connection-debug=0
player-connection-project-name=Kursaach3.0
player-connection-ip=192.168.245.1
player-connection-ip=26.7.114.101
player-connection-ip=192.168.110.1
player-connection-ip=172.16.0.2
player-connection-ip=192.168.0.12
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fbc52270d8dc447da3ea25db336466c7
